In [1]:
import sys
sys.path.append("..")
from utility.utils import get_response_together, get_response_openai
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("sample.xls")
# df = df.style.hide(0)?

In [ ]:
memory = []
prompt = f"""
You are tasked to answer the users questions from the excel sheet given to you.
Do not make facts of your own and answer solely from the excel sheet given to you.

Here is the excel sheet:
{df.to_string()}"""
# question = "Summarize the headers of this table in 200 words"
print("Hi, How can I help you today?")
while(True):
    for i in memory:
        prompt+=i
    question = input("")
    print(question)
    if(question == "exit"):
        break
    question = f"""Question : {question}\nAnswer : """
    response = get_response_together(prompt = prompt + question)
    question += response
    print(response)
    memory.append(question)

In [8]:
prompt = f"""
You are tasked to answer the users questions from the excel sheet given to you.
Do not make facts of your own and answer solely from the excel sheet given to you.

Here is the excel sheet:
{df.to_string()}"""

def get_response(question):
    messages = [{
        "role" : "system", "content" : prompt
    }]
    message = {
        "role" : "user", "content" : question
    }
    messages.append(message)
    response = get_response_openai(messages)
    return response

In [5]:
df

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [11]:
print(get_response("What is the average age in the table?"))
print()
print(get_response("What is the average of age of people from United States"))
print()
print(get_response("What is the total number of males and females"))
print()
print(get_response("What is the total number of people from each country?"))

To calculate the average age in the table, we add up the ages of all individuals and then divide by the number of individuals.

Sum of ages:
32 + 25 + 36 + 25 + 58 + 24 + 56 + 27 + 40 = 287

Number of individuals: 9

Average age = Sum of ages / Number of individuals
Average age = 287 / 9
Average age = 31.89

Therefore, the average age in the table is 31.89.

To calculate the average age of people from the United States, we will first find the ages of individuals from the United States and then calculate their average.

The individuals from the United States and their ages are as follows:
1. Dulce Abril, Age: 32
2. Kathleen Hanner, Age: 25
3. Nereida Magwood, Age: 58
4. Gaston Brumm, Age: 24
5. Earlean Melgar, Age: 27
6. Vincenza Weiland, Age: 40

Now, we add up the ages:
32 + 25 + 58 + 24 + 27 + 40 = 206

To find the average age, we divide the sum of ages by the number of individuals:
Average Age = 206 / 6 = 34.33

Therefore, the average age of people from the United States is approximately 34.33 years.

Based on the information provided in the excel sheet, there are 5 females and 3 males.

United States: 5
Great Britain: 2
France: 1

In [12]:
print(get_response("What is the date range in the table?"))

The date range in the table is from May 21, 2015, to October 15, 2017.